main {
	border: 1px solid #CCC;
	height: 100vh;
	overflow-y: auto;
	padding-top: 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
	.item {
		margin: 30px;
		padding: 10px;
		border-radius: 10px;
		box-shadow: 0px 0px 2px;
		.title {
			display: block;
			line-height: 30px;
			text-align: center;
			padding-top: 10px;
			font-size: 20px;
		}
	}
}

.table {
	td {
		vertical-align: middle !important;
	}
	.addToCart,
	.removeFromCart {
		font-size: 44px;
	}
}